@font-face {
  font-family: 'Beleren2016';
  src: url('./assets/fonts/Beleren2016-Bold.woff') format('woff'),
       url('./assets/fonts/Beleren2016-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Beleren2016SmallCaps';
  src: url('./assets/fonts/Beleren2016SmallCaps-Bold.woff') format('woff'),
       url('./assets/fonts/Beleren2016SmallCaps-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Beleren2016SmallCaps';
  src: url('./assets/fonts/Beleren2016SmallCaps-BoldItalic.woff') format('woff'),
       url('./assets/fonts/Beleren2016SmallCaps-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MPlantin';
  src: url('./assets/fonts/Mplantin.woff') format('woff'),
       url('./assets/fonts/Mplantin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
